.Home {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.Name {
	margin: 0;
	padding: 0;
	height: 25vh;
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
h1 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 500%;
	color: white;
}
.Socials {
	margin: 0;
	padding: 0;
	margin-top: auto;
	display: flex;
}
button {
	height: 6.5vh;
	width: 6.5vh;
	margin: 10px;
	padding: 0;
	background-color: transparent;
	border-color: white;
	border-style: solid;
	border-radius: 10px;
}
i {
	margin: 0;
	padding: 0;
	font-size: 3.5vh;
	color: white;
}